nodered/data/flows.json
[{"id":"139fe799.4e0ea8","type":"tab","label":"Licht","disabled":false,"info":""},{"id":"7f5b8590.d1141c","type":"tab","label":"Wetter","disabled":false,"info":""},{"id":"7fc179a1.9a2e98","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#00ff00","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#00ff00","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#4dff4d","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#00ff00","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"643222e8.e7470c","type":"ui_tab","z":"","name":"Wohnung","icon":"dashboard","order":1},{"id":"bdf94779.f97a78","type":"ui_group","z":"","name":"Wohnzimmer","tab":"643222e8.e7470c","order":1,"disp":true,"width":"6"},{"id":"f2d357a1.ccabb8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"b39b53ed.42c13","type":"ui_group","z":"","name":"Kinderzimmer","tab":"643222e8.e7470c","order":3,"disp":true,"width":"6"},{"id":"24245468.f8f9dc","type":"ui_group","z":"","name":"Arbeitszimmer","tab":"643222e8.e7470c","order":4,"disp":true,"width":"6"},{"id":"f11dae5d.c9e04","type":"ui_group","z":"","name":"Schlafzimmer","tab":"643222e8.e7470c","order":5,"disp":true,"width":"6"},{"id":"639675b0.f9bdec","type":"ui_group","z":"","name":"Alle Lampen","tab":"643222e8.e7470c","order":6,"disp":true,"width":"6"},{"id":"f9bf5d8e.603e3","type":"ui_group","z":"","name":"Räume","tab":"643222e8.e7470c","order":7,"disp":true,"width":"6"},{"id":"87a98c99.0f68","type":"ui_tab","z":"","name":"Wetter","icon":"dashboard","order":2},{"id":"9f64640b.664c28","type":"ui_group","z":"","name":"Wattenscheid","tab":"87a98c99.0f68","order":1,"disp":true,"width":"6"},{"id":"d9d5a9d7.ee62a8","type":"ui_group","z":"","name":"Kueche","tab":"643222e8.e7470c","order":2,"disp":true,"width":"6"},{"id":"32e24e67.c59bb2","type":"mqtt in","z":"139fe799.4e0ea8","name":"","topic":"fhem/wohnzimmer/flur","qos":"2","broker":"f2d357a1.ccabb8","x":220,"y":120,"wires":[["833574a4.aa8958"]]},{"id":"fe2b1b82.88a1c8","type":"mqtt out","z":"139fe799.4e0ea8","name":"","topic":"fhem/wohnzimmer/flur/set","qos":"","retain":"","broker":"f2d357a1.ccabb8","x":770,"y":120,"wires":[]},{"id":"833574a4.aa8958","type":"ui_switch","z":"139fe799.4e0ea8","name":"","label":"Flur","group":"bdf94779.f97a78","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":470,"y":120,"wires":[["fe2b1b82.88a1c8"]]},{"id":"22da0c4d.ee7ba4","type":"mqtt in","z":"139fe799.4e0ea8","name":"","topic":"fhem/wohnzimmer/fluter","qos":"2","broker":"f2d357a1.ccabb8","x":220,"y":180,"wires":[["28b5a04d.aad3c"]]},{"id":"26276eb2.12a442","type":"mqtt out","z":"139fe799.4e0ea8","name":"","topic":"fhem/wohnzimmer/fluter/set","qos":"","retain":"","broker":"f2d357a1.ccabb8","x":780,"y":180,"wires":[]},{"id":"28b5a04d.aad3c","type":"ui_switch","z":"139fe799.4e0ea8","name":"","label":"Fluter","group":"bdf94779.f97a78","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":470,"y":180,"wires":[["26276eb2.12a442"]]},{"id":"fdcaf064.82cd5","type":"mqtt in","z":"139fe799.4e0ea8","name":"","topic":"fhem/wohnzimmer/baum","qos":"2","broker":"f2d357a1.ccabb8","x":230,"y":240,"wires":[["79143bc6.a0bf64"]]},{"id":"97066c09.83f47","type":"mqtt out","z":"139fe799.4e0ea8","name":"","topic":"fhem/wohnzimmer/baum/set","qos":"","retain":"","broker":"f2d357a1.ccabb8","x":780,"y":240,"wires":[]},{"id":"79143bc6.a0bf64","type":"ui_switch","z":"139fe799.4e0ea8","name":"","label":"Baum","group":"bdf94779.f97a78","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":470,"y":240,"wires":[["97066c09.83f47"]]},{"id":"77808eb0.35709","type":"mqtt in","z":"139fe799.4e0ea8","name":"","topic":"fhem/kueche/arbeitsplatte","qos":"2","broker":"f2d357a1.ccabb8","x":230,"y":380,"wires":[["b80d3ea8.c8ca6"]]},{"id":"832b70ff.e2845","type":"mqtt out","z":"139fe799.4e0ea8","name":"","topic":"fhem/kueche/arbeitsplatte/set","qos":"","retain":"","broker":"f2d357a1.ccabb8","x":780,"y":380,"wires":[]},{"id":"b80d3ea8.c8ca6","type":"ui_switch","z":"139fe799.4e0ea8","name":"","label":"Arbeitsplatte","group":"d9d5a9d7.ee62a8","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":490,"y":380,"wires":[["832b70ff.e2845"]]},{"id":"fc97af30.f3fba","type":"mqtt in","z":"139fe799.4e0ea8","name":"","topic":"fhem/kinderzimmer/kette","qos":"2","broker":"f2d357a1.ccabb8","x":230,"y":560,"wires":[["bb040da9.acad3"]]},{"id":"e804f034.6418a","type":"mqtt out","z":"139fe799.4e0ea8","name":"","topic":"fhem/kinderzimmer/kette/set","qos":"","retain":"","broker":"f2d357a1.ccabb8","x":780,"y":560,"wires":[]},{"id":"bb040da9.acad3","type":"ui_switch","z":"139fe799.4e0ea8","name":"","label":"Kette","group":"b39b53ed.42c13","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":470,"y":560,"wires":[["e804f034.6418a"]]},{"id":"ab5ae93d.c31748","type":"mqtt in","z":"139fe799.4e0ea8","name":"","topic":"fhem/kinderzimmer/regal","qos":"2","broker":"f2d357a1.ccabb8","x":230,"y":620,"wires":[["e617a12.e3bd96"]]},{"id":"c46de1aa.6fdc3","type":"mqtt out","z":"139fe799.4e0ea8","name":"","topic":"fhem/kinderzimmer/regal/set","qos":"","retain":"","broker":"f2d357a1.ccabb8","x":780,"y":620,"wires":[]},{"id":"e617a12.e3bd96","type":"ui_switch","z":"139fe799.4e0ea8","name":"","label":"Regal","group":"b39b53ed.42c13","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":470,"y":620,"wires":[["c46de1aa.6fdc3"]]},{"id":"e0e1c69b.fa6788","type":"mqtt in","z":"139fe799.4e0ea8","name":"","topic":"fhem/kueche/sterne","qos":"2","broker":"f2d357a1.ccabb8","x":210,"y":440,"wires":[["da854f3c.c61eb"]]},{"id":"2033ec58.4853a4","type":"mqtt out","z":"139fe799.4e0ea8","name":"","topic":"fhem/kueche/sterne/set","qos":"","retain":"","broker":"f2d357a1.ccabb8","x":770,"y":440,"wires":[]},{"id":"da854f3c.c61eb","type":"ui_switch","z":"139fe799.4e0ea8","name":"","label":"Sterne","group":"d9d5a9d7.ee62a8","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":470,"y":440,"wires":[["2033ec58.4853a4"]]},{"id":"ef487155.5e48b","type":"mqtt in","z":"139fe799.4e0ea8","name":"","topic":"fhem/kinderzimmer/sterne","qos":"2","broker":"f2d357a1.ccabb8","x":230,"y":680,"wires":[["bd463803.4493d8"]]},{"id":"ab13f83e.43ce68","type":"mqtt out","z":"139fe799.4e0ea8","name":"","topic":"fhem/kinderzimmer/sterne/set","qos":"","retain":"","broker":"f2d357a1.ccabb8","x":790,"y":680,"wires":[]},{"id":"bd463803.4493d8","type":"ui_switch","z":"139fe799.4e0ea8","name":"","label":"Sterne","group":"b39b53ed.42c13","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":470,"y":680,"wires":[["ab13f83e.43ce68"]]},{"id":"c0cfad6.710375","type":"mqtt in","z":"139fe799.4e0ea8","name":"","topic":"fhem/arbeitszimmer/lampe","qos":"2","broker":"f2d357a1.ccabb8","x":230,"y":840,"wires":[["547ca3d0.2a349c"]]},{"id":"e2601b4.d5bebe8","type":"mqtt out","z":"139fe799.4e0ea8","name":"","topic":"fhem/arbeitszimmer/lampe/set","qos":"","retain":"","broker":"f2d357a1.ccabb8","x":790,"y":840,"wires":[]},{"id":"547ca3d0.2a349c","type":"ui_switch","z":"139fe799.4e0ea8","name":"","label":"Stehlampe","group":"24245468.f8f9dc","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":490,"y":840,"wires":[["e2601b4.d5bebe8"]]},{"id":"65ce84bf.ee73ec","type":"mqtt in","z":"139fe799.4e0ea8","name":"","topic":"fhem/schlafzimmer/bauch","qos":"2","broker":"f2d357a1.ccabb8","x":230,"y":1080,"wires":[["555adf4d.370ae"]]},{"id":"75311a60.e14dc4","type":"mqtt out","z":"139fe799.4e0ea8","name":"","topic":"fhem/schlafzimmer/bauch/set","qos":"","retain":"","broker":"f2d357a1.ccabb8","x":780,"y":1080,"wires":[]},{"id":"555adf4d.370ae","type":"ui_switch","z":"139fe799.4e0ea8","name":"","label":"Bauch","group":"f11dae5d.c9e04","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":470,"y":1080,"wires":[["75311a60.e14dc4"]]},{"id":"2c71f5d5.ffc56a","type":"mqtt in","z":"139fe799.4e0ea8","name":"","topic":"fhem/schlafzimmer/fernsehschrank","qos":"2","broker":"f2d357a1.ccabb8","x":260,"y":1140,"wires":[["15cc0bf3.5847f4"]]},{"id":"4a004cf3.413e04","type":"mqtt out","z":"139fe799.4e0ea8","name":"","topic":"fhem/schlafzimmer/fernsehschrank/set","qos":"","retain":"","broker":"f2d357a1.ccabb8","x":810,"y":1140,"wires":[]},{"id":"15cc0bf3.5847f4","type":"ui_switch","z":"139fe799.4e0ea8","name":"","label":"Fernsehschrank","group":"f11dae5d.c9e04","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":500,"y":1140,"wires":[["4a004cf3.413e04"]]},{"id":"8246cc40.51f3c","type":"mqtt in","z":"139fe799.4e0ea8","name":"","topic":"fhem/schlafzimmer/sterne","qos":"2","broker":"f2d357a1.ccabb8","x":230,"y":1200,"wires":[["8cc8fab.d17e908"]]},{"id":"9b3c5d4e.eec9c","type":"mqtt out","z":"139fe799.4e0ea8","name":"","topic":"fhem/schlafzimmer/sterne/set","qos":"","retain":"","broker":"f2d357a1.ccabb8","x":780,"y":1200,"wires":[]},{"id":"8cc8fab.d17e908","type":"ui_switch","z":"139fe799.4e0ea8","name":"","label":"Sterne","group":"f11dae5d.c9e04","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":470,"y":1200,"wires":[["9b3c5d4e.eec9c"]]},{"id":"ff1fd859.a50dc8","type":"mqtt in","z":"139fe799.4e0ea8","name":"","topic":"fhem/allelampen/alles","qos":"2","broker":"f2d357a1.ccabb8","x":220,"y":1380,"wires":[["6993db62.8666e4"]]},{"id":"d853dbd3.86cc18","type":"mqtt out","z":"139fe799.4e0ea8","name":"","topic":"fhem/allelampen/alles/set","qos":"","retain":"","broker":"f2d357a1.ccabb8","x":770,"y":1380,"wires":[]},{"id":"6993db62.8666e4","type":"ui_switch","z":"139fe799.4e0ea8","name":"","label":"Alle Lampen","group":"639675b0.f9bdec","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":490,"y":1380,"wires":[["d853dbd3.86cc18"]]},{"id":"1bd0a57c.bf6adb","type":"mqtt in","z":"139fe799.4e0ea8","name":"","topic":"fhem/allelampen/morgens","qos":"2","broker":"f2d357a1.ccabb8","x":230,"y":1440,"wires":[["a62d5102.e5544"]]},{"id":"43fc062c.e9b818","type":"mqtt out","z":"139fe799.4e0ea8","name":"","topic":"fhem/allelampen/morgens/set","qos":"","retain":"","broker":"f2d357a1.ccabb8","x":790,"y":1440,"wires":[]},{"id":"a62d5102.e5544","type":"ui_switch","z":"139fe799.4e0ea8","name":"","label":"Morgens","group":"639675b0.f9bdec","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":480,"y":1440,"wires":[["43fc062c.e9b818"]]},{"id":"67fa89f6.b3a478","type":"mqtt in","z":"139fe799.4e0ea8","name":"","topic":"fhem/allelampen/weihnachten","qos":"2","broker":"f2d357a1.ccabb8","x":240,"y":1500,"wires":[["3dd4d6cf.222d1a"]]},{"id":"311ec093.8f291","type":"mqtt out","z":"139fe799.4e0ea8","name":"","topic":"fhem/allelampen/weihnachten/set","qos":"","retain":"","broker":"f2d357a1.ccabb8","x":800,"y":1500,"wires":[]},{"id":"3dd4d6cf.222d1a","type":"ui_switch","z":"139fe799.4e0ea8","name":"","label":"Weihnachten","group":"639675b0.f9bdec","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":490,"y":1500,"wires":[["311ec093.8f291"]]},{"id":"b985d9c.c75c728","type":"mqtt in","z":"139fe799.4e0ea8","name":"","topic":"fhem/wohnzimmer/alle","qos":"2","broker":"f2d357a1.ccabb8","x":220,"y":1660,"wires":[["b6816869.6e3618"]]},{"id":"fbf234ad.156a18","type":"mqtt out","z":"139fe799.4e0ea8","name":"","topic":"fhem/wohnzimmer/alle/set","qos":"","retain":"","broker":"f2d357a1.ccabb8","x":770,"y":1660,"wires":[]},{"id":"b6816869.6e3618","type":"ui_switch","z":"139fe799.4e0ea8","name":"","label":"Wohnzimmer","group":"f9bf5d8e.603e3","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":490,"y":1660,"wires":[["fbf234ad.156a18"]]},{"id":"5f699329.888d6c","type":"mqtt in","z":"139fe799.4e0ea8","name":"","topic":"fhem/kinderzimmer/alle","qos":"2","broker":"f2d357a1.ccabb8","x":220,"y":1720,"wires":[["5cdb8246.2185ac"]]},{"id":"9a1274a5.75d378","type":"mqtt out","z":"139fe799.4e0ea8","name":"","topic":"fhem/kinderzimmer/alle/set","qos":"","retain":"","broker":"f2d357a1.ccabb8","x":780,"y":1720,"wires":[]},{"id":"5cdb8246.2185ac","type":"ui_switch","z":"139fe799.4e0ea8","name":"","label":"Kinderzimmer","group":"f9bf5d8e.603e3","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":500,"y":1720,"wires":[["9a1274a5.75d378"]]},{"id":"177e6b91.bf86f4","type":"mqtt in","z":"139fe799.4e0ea8","name":"","topic":"fhem/arbeitszimmer/alle","qos":"2","broker":"f2d357a1.ccabb8","x":220,"y":1780,"wires":[["ea7f4fac.73841"]]},{"id":"998c0d8d.18faa","type":"mqtt out","z":"139fe799.4e0ea8","name":"","topic":"fhem/arbeitszimmer/alle/set","qos":"","retain":"","broker":"f2d357a1.ccabb8","x":780,"y":1780,"wires":[]},{"id":"ea7f4fac.73841","type":"ui_switch","z":"139fe799.4e0ea8","name":"","label":"Arbeitszimmer","group":"f9bf5d8e.603e3","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":500,"y":1780,"wires":[["998c0d8d.18faa"]]},{"id":"ef6fa9e7.3933f8","type":"mqtt in","z":"139fe799.4e0ea8","name":"","topic":"fhem/schlafzimmer/alle","qos":"2","broker":"f2d357a1.ccabb8","x":220,"y":1840,"wires":[["a3d29365.e8c3b"]]},{"id":"d9b028b1.64ca28","type":"mqtt out","z":"139fe799.4e0ea8","name":"","topic":"fhem/schlafzimmer/alle/set","qos":"","retain":"","broker":"f2d357a1.ccabb8","x":780,"y":1840,"wires":[]},{"id":"a3d29365.e8c3b","type":"ui_switch","z":"139fe799.4e0ea8","name":"","label":"Schlafzimmer","group":"f9bf5d8e.603e3","order":5,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":500,"y":1840,"wires":[["d9b028b1.64ca28"]]},{"id":"cfa8d806.a0e508","type":"mqtt in","z":"139fe799.4e0ea8","name":"","topic":"fhem/arbeitszimmer/sterne","qos":"2","broker":"f2d357a1.ccabb8","x":230,"y":900,"wires":[["5c4e25c6.afb43c"]]},{"id":"500cea9d.263224","type":"mqtt out","z":"139fe799.4e0ea8","name":"","topic":"fhem/arbeitszimmer/sterne/set","qos":"","retain":"","broker":"f2d357a1.ccabb8","x":790,"y":900,"wires":[]},{"id":"5c4e25c6.afb43c","type":"ui_switch","z":"139fe799.4e0ea8","name":"","label":"Sterne","group":"24245468.f8f9dc","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":470,"y":900,"wires":[["500cea9d.263224"]]},{"id":"40e4e1db.6de48","type":"openweathermap in","z":"7f5b8590.d1141c","name":"","wtype":"current","lon":"","lat":"","city":"Bochum","country":"Deutschland","language":"de","x":220,"y":280,"wires":[["3dc49788.50c0e8","73993cac.c30614","3a081510.2667ca"]]},{"id":"3dc49788.50c0e8","type":"function","z":"7f5b8590.d1141c","name":"Temperatur","func":"var newMsg = {payload: msg.payload.tempc };\nreturn newMsg;","outputs":1,"noerr":0,"x":530,"y":220,"wires":[["628a42.c382c5c"]]},{"id":"73993cac.c30614","type":"function","z":"7f5b8590.d1141c","name":"Luftfeuchte","func":"var newMsg = {payload: msg.payload.humidity };\nreturn newMsg;","outputs":1,"noerr":0,"x":530,"y":340,"wires":[["6018f731.382758"]]},{"id":"3a081510.2667ca","type":"debug","z":"7f5b8590.d1141c","name":"","active":true,"console":"false","complete":"false","x":530,"y":280,"wires":[]},{"id":"628a42.c382c5c","type":"ui_gauge","z":"7f5b8590.d1141c","name":"","group":"9f64640b.664c28","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatur","label":"°C","format":"{{value}}","min":"-20","max":"50","colors":["#64abf9","#faf427","#ff413c"],"seg1":"","seg2":"","x":790,"y":220,"wires":[]},{"id":"6018f731.382758","type":"ui_gauge","z":"7f5b8590.d1141c","name":"","group":"9f64640b.664c28","order":0,"width":0,"height":0,"gtype":"gage","title":"Luftfeuchtigkeit","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":800,"y":340,"wires":[]},{"id":"9feff94d.b757d8","type":"mqtt in","z":"139fe799.4e0ea8","name":"","topic":"fhem/kueche/alle","qos":"2","broker":"f2d357a1.ccabb8","x":200,"y":1900,"wires":[["85b80066.e4dab"]]},{"id":"14e26cf3.d63483","type":"mqtt out","z":"139fe799.4e0ea8","name":"","topic":"fhem/kueche/alle/set","qos":"","retain":"","broker":"f2d357a1.ccabb8","x":760,"y":1900,"wires":[]},{"id":"85b80066.e4dab","type":"ui_switch","z":"139fe799.4e0ea8","name":"","label":"Küche","group":"f9bf5d8e.603e3","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":470,"y":1900,"wires":[["14e26cf3.d63483"]]}]
